.wrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex-direction: column;
}

.light-mode {
  color: black;
  background-color: #f2f2e5;
}

.dark-mode {
  color: white;
  background-color: black;
}